@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    gap: 59px;
}

.container h1{
width: 530px;
height: 205px;
left: 779px;
top: 248px;
font-family: 'Kavoon';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 158.88%;
}

.container button{
width: 354px;
height: 77px;
left: 867px;
top: 470px;
background: #D48B5C;
border-radius: 50px;


font-family: 'Kavoon';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 158.88%;
text-align: center;
color: #FFFFFF;

}
.container button:hover{
    cursor: pointer;
    color: black;
}